@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Merriweather:wght@700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-glow {
        text-shadow: 0 0 10px rgba(229, 9, 20, 0.7),
            0 0 20px rgba(229, 9, 20, 0.5),
            0 0 30px rgba(229, 9, 20, 0.3);
    }
}