body {
  font-family: Arial;
  background: #0b0b0f;
  color: white;
}

.center {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 100px auto;
}

input, button {
  margin: 5px 0;
  padding: 8px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 40px;
}

.card {
  background: #141414;
  padding: 20px;
  cursor: pointer;
  border-radius: 10px;
}

.card:hover {
  transform: scale(1.05);
}

.chat {
  padding: 20px;
}

.you {
  color: #e50914;
}

.ai {
  color: #ccc;
}
